{% extends "base.html" %}

{% block head %}
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<link rel="shortcut icon" type="image/png" href="/{{ THEME_STATIC_DIR }}/images/favicon.png"/>
<link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" type="text/css" />
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock head %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="cover-image"></div>
<br>

<div class="title-quote">"Just play. Have fun. Enjoy the game." - Michael Jordan</div>
<br>

<div class="fb-like-box" data-href="https://www.facebook.com/jumpman23" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
{% endblock content %}

{% block footer %}
{% endblock footer %}