body {
    font-family: 'Dancing Script', cursive;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #1d1d1d;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }


/*
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/
*/

/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
    display: none;
}

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
    background-color: #efefef;
}

section {
    margin-bottom: 30px;
}

@media screen and (max-width:320px) {
    .cover-image {
        min-height: 200px;
        background: url("../images/background.png") no-repeat center;
        background-size: 100%;
    }

    .title-quote {
        font-size: 0.8em;
        color: #fefefe;
    }
}
@media screen and (min-width:321px) and (max-width:639px) {
    .cover-image {
        min-height: 300px;
        background: url("../images/background.png") no-repeat center;
        background-size: 100%;
    }

    .title-quote {
        font-size: 1em;
        color: #fefefe;
    }
}
@media screen and (min-width:640px) and (max-width:959px) {
    .cover-image {
        min-height: 500px;
        background: url("../images/background.png") no-repeat center;
        background-size: 100%;
    }

    .title-quote {
        font-size: 1.3em;
        color: #fefefe;
    }
}
@media screen and (min-width:960px) and (max-width:1279px) {
    .cover-image {
        min-height: 500px;
        background: url("../images/background.png") no-repeat center;
        background-size: cover;
    }

    .title-quote {
        font-size: 1.5em;
        color: #fefefe;
    }
}
@media screen and (min-width:1280px) and (max-width:1599px) {
    .cover-image {
        min-height: 500px;
        background: url("../images/background.png") no-repeat center;
        background-size: cover;
    }

    .title-quote {
        font-size: 1.8em;
        color: #fefefe;
    }
}
@media screen and (min-width:1600px) {}
@media screen and (min-width:1920px) {}
@media print {}